{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="min-w-full">
        <thead class="bg-gray-500">
            <tr>
                <th class="py-2 px-4 text-teal-100">Name</th>
                <th class="py-2 px-4">Picture</th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in saved_recipes %}
                <tr>
                    <td class="py-2 px-4 border">{{ recipe['name'] }}</td>
                    <td class="py-2 px-4 border"><img src="{{ recipe['image_link'] }}" style="width: 200px; height: 200px;"></img></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}