{% extends "layout.html" %}

{% block title %}
    HomePage
{% endblock %}

{% block main %}
    <div class="flex w-10/12 mx-auto min-h-screen bg-pallete-1 border-8 border-white">
        <div class="w-10/12 mx-auto p-6 bg-pallete-5">
            <div class="w-10/12 h-24 my-6 mx-auto flex">
                <h1 class="w-full h-full text-4xl font-extrabold font-sans justify-center items-center flex-wrap text-center">{{ recipe["name"] }}</h1>
            </div>
            <div class="h-full w-10/12 mx-auto">
                <div class="flex h-full grid-cols-2 gap-4 justify-around">
                    <div class=" w-full grid-rows-2 space-y-8 justify-around">
                        <div class="h-2/5 shadow-xl hover:-translate-y-4 transition">
                            <iframe src="{{ recipe['youtube_link'] }}" class="aspect-auto object-fill w-full h-full" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <p class="caption-top text-center font-bold">Instructions</p>
                        <div class="h-2/5 shadow-xl -translate-y-4 hover:-translate-y-6 transition overflow-y-scroll whitespace-pre-line">
                            {{ recipe["instructions"] }}
                        </div>
                    </div>
                    <div class=" w-full grid-rows-2 space-y-8 justify-around">
                        <div class="h-2/5 shadow-xl hover:-translate-y-4 transition">
                            <img class="h-full w-full object-fill" src="{{ recipe['image'] }}" alt="image of food">
                        </div>
                        <p class="caption-top text-center font-bold">Ingredients</p>
                        <div class="h-2/5 shadow-xl -translate-y-4 hover:-translate-y-6 transition overflow-y-scroll capitalize">
                            {% for ingredient in ingredients %}
                            {{ ingredient }}
                            <br><br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form action="/add-meal" method="post">
        <button>Add Meal</button>
    </form>
{% endblock %}