{% extends "layout.html" %}

{% block title %}
    HomePage
{% endblock %}

{% block main %}
    <div class="flex w-10/12 mx-auto min-h-screen bg-pallete-1 border-8 border-white">
        <div class="w-10/12 mx-auto p-6 bg-pallete-5">
            <div class="w-10/12 h-24 my-6 mx-auto">
                <h1 class="w-full h-full flex text-4xl font-extrabold font-sans justify-center items-center flex-wrap text-center">{{ recipe["name"] }}</h1>
            </div>
            <div class="flex w-10/12 mx-auto p-6 columns-2 justify-around">
                <div class="bg-white w-2/5 h-full">
                    <div class=""></div>
                    <div class=""></div>
                </div>
                <div class="bg-white w-2/5 h-full"></div>
            </div>
        </div>
    </div>
{% endblock %}