<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" href="{{url_for('static',filename='dist/output.css')}}">
        

        <title>CookBookMark: {% block title %}{% endblock %}</title>

    </head>

    <body>
        <nav class="realtive min-w-full container p-6 bg-sky-100/70">
            <div class="flex items-center justify-between">
                <div class="py-3">
                    <a href="/" class="text-5xl pl-2 font-bold font-serif hover:drop-shadow-lg transition"><span class="text-red-300 hover:shadow-black">Cook</span><span class="text-blue-300 hover:shadow-blue-300/50">Book</span><span class="text-green-300 hover:shadow-green-300/50">Mark</span></a>
                </div>
                {% if session["user_id"] %}
                <div class="hidden md:flex space-x-6 text-gray-500">
                    <a href="/" class="hover:text-black hover:-translate-y-2 ease-in transition">Home</a>
                    <a href="/random-recipe" class="hover:text-black hover:-translate-y-2 ease-in transition">Random Recipe</a>
                    <a href="/saved-recipes" class="hover:text-black hover:-translate-y-2 ease-in transition">Saved Recipes</a>
                    <a href="/logout" class="hover:text-black hover:-translate-y-2 ease-in transition">Log Out</a>
                </div>
                {% else %}
                <div class="hidden md:flex space-x-6 text-gray-500">
                    <a href="/register" class="hover:text-black hover:-translate-y-2  ease-in transition">Register</a>
                    <a href="/login" class="hover:text-black hover:-translate-y-2  ease-in transition">Log In</a>
                </div>
                {% endif %}
            </div>
        </nav>

        <main class="">
            {% block main %}{% endblock %}
        </main>

        <footer>
        </footer>

    </body>

</html>