{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="mx-auto mt-6 w-1/3 h-32 flex flex-col p-4 bg-pallete-5">
        <form action="/register" method="post" class="grid grid-rows-4 h-full mx-8 gap-1">
            <input autocomplete="off" autofocus class="text-center" id="username" name="username" placeholder="Username" type="text">
            <input class="text-center" id="password" name="password" placeholder="Password" type="password">
            <input class="text-center" id="confirmation" name="confirmation" placeholder="Password (again)" type="password">
            <button id="button" class="hover:text-white" type="submit">Register</button>
        </form>
    </div>
{% endblock %}